# Mac OS files
**/.DS_Store

# IntelliJ files
.idea

# Project files
yolo/train.yaml
yolo/train/**
yolo/test/**
yolo/results/detect/exp**
yolo/results/train/exp**
yolo/**/events.out*
DMD_trimmed.mp4
test/**

